In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#Read in data
df = pd.read_csv('/Users/elyselee/Documents/Code for Charlottesville/LAJC-Wage-Theft-Data-master/Raw data/lajc_wage_claim.csv')

In [3]:
df.head()

,CLAIM NO,COMPLAINT,ROUTINE,EMPLOYER NAME,EMPLOYER CITY,ST,ZIP,gender,hispanic,asian,...,NOL Prossed,CONFINEMENT,SUSPENSION,BOTH - C&F,JUDGMENT_2,DISMISSED_2,NON-SUITED_2,JUDGMENT_3,DISMISSED_3,NON-SUITED_3
0,LLVA56991,X,NaN,"GREATER SCAPE'S GROUND MANAGEMENT, LLC",HENRICO,VA,23075.0,male,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LLVA57047,X,NaN,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,female,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LLVA57784,X,NaN,"GIGI'S NEXT STEP CHILD CARE CENTER, LLC",SOUTH CHESTERFIELD,VA,23803.0,female,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LLVA58364,X,NaN,MERRYMAN GROUNDS MAINT INC.,HAMPTON,VA,23661.0,male,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LLVA58376,X,NaN,"CONTINENTAL HOME HEALTH CARE, LLC,",RICHMOND,VA,23294.0,female,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(3948, 89)

In [5]:
#Print column names and types for each column
df.columns
df.dtypes

Index(['CLAIM NO', 'COMPLAINT', 'ROUTINE', 'EMPLOYER NAME', 'EMPLOYER CITY',
       'ST', 'ZIP', 'gender', 'hispanic', 'asian', 'CLAIM AMT',
       'CASE OPEN/RE-OPEN', 'CLAIM RECEIVED', 'Valid', 'Informal Resolution',
       'Bankrupt', 'Invalid', 'Fringe Benefits', 'Independent Agent',
       'Subcontractor', 'False Claim', 'Other',
       'CLAIM INVAL OTHER DESCRIPTION', 'Claim Validity',
       'Employer left State', 'Employer Cannot be Located',
       'Complainant Cannot be Located', 'Complainant Dropped Claim',
       'Paid Prior to Investigation', 'Business is Closed', 'Other_1',
       'CLAIM UNDETERMINED OTHER DESCRIPTION', 'VERIFIED CLAIM AMT',
       'CASE CLOSE/RECLOSE DATE', 'Employer Contested Valid Determination',
       '1st Response Investigation', 'Formal Investigation',
       'Request Settlement Conference', 'Request Informal Fact Finding',
       'Request Formal Fact Finding', 'Wage Order', 'Informal Conference',
       'Civil Action for Wages/Penalties', 'Other_2',
       'OTHER DISPOSITION DESCRIPTION', 'CASE CLOSED for the REPRESENTATIVE',
       'JUDGMENT', 'DISMISSED', 'NON-SUITED', 'JUDGMENT_1', 'DISMISSED_1',
       'NON-SUITED_1', 'CIVCOURTDTE FOR WAGES/PENALTY', 'TOT AMT', 'WAGE AMT',
       'INTEREST AMT', 'ATTY FEES', 'DATE FOR WAGES', 'WAGES APPEALED',
       'WAGES APPEAL CIRCUIT COURT DATE', 'ASSESSED', 'AMT', 'ATTY FEES_1',
       'ASSESSED DATE', 'TOTAL CMP AMT', 'CMP APPEALED',
       'CMP APPEAL CIRCUIT COURT DATE', 'FINES & COURT COSTS', 'TOTAL WAGES',
       'TOTAL INTEREST AMT', 'TOT WAGES & INTEREST', 'GARNISHED AMT',
       'JUDGMENT WAGE AMT', 'JUDGEMENT PENALTY AMT',
       'DOCKETED/SENT FOR COLLECTION DATE', 'ACTION TAKEN', 'COURT DATE',
       'CONVICTED - DISPOSITION', 'DISMISSED - DISPOSITION', 'NOL Prossed',
       'CONFINEMENT', 'SUSPENSION', 'BOTH - C&F', 'JUDGMENT_2', 'DISMISSED_2',
       'NON-SUITED_2', 'JUDGMENT_3', 'DISMISSED_3', 'NON-SUITED_3'],
      dtype='object')

CLAIM NO                              object
COMPLAINT                             object
ROUTINE                              float64
EMPLOYER NAME                         object
EMPLOYER CITY                         object
ST                                    object
ZIP                                  float64
gender                                object
hispanic                                bool
asian                                   bool
CLAIM AMT                             object
CASE OPEN/RE-OPEN                     object
CLAIM RECEIVED                        object
Valid                                 object
Informal Resolution                   object
Bankrupt                              object
Invalid                               object
Fringe Benefits                       object
Independent Agent                     object
Subcontractor                         object
False Claim                           object
Other                                 object
CLAIM INVAL OTHER DESCRIPTION         object
Claim Validity                        object
Employer left State                  float64
Employer Cannot be Located            object
Complainant Cannot be Located         object
Complainant Dropped Claim             object
Paid Prior to Investigation           object
Business is Closed                    object
                                      ...
WAGES APPEAL CIRCUIT COURT DATE      float64
ASSESSED                              object
AMT                                   object
ATTY FEES_1                           object
ASSESSED DATE                         object
TOTAL CMP AMT                         object
CMP APPEALED                         float64
CMP APPEAL CIRCUIT COURT DATE        float64
FINES & COURT COSTS                   object
TOTAL WAGES                           object
TOTAL INTEREST AMT                    object
TOT WAGES & INTEREST                  object
GARNISHED AMT                         object
JUDGMENT WAGE AMT                     object
JUDGEMENT PENALTY AMT                 object
DOCKETED/SENT FOR COLLECTION DATE    float64
ACTION TAKEN                         float64
COURT DATE                           float64
CONVICTED - DISPOSITION              float64
DISMISSED - DISPOSITION              float64
NOL Prossed                          float64
CONFINEMENT                          float64
SUSPENSION                           float64
BOTH - C&F                           float64
JUDGMENT_2                           float64
DISMISSED_2                          float64
NON-SUITED_2                         float64
JUDGMENT_3                           float64
DISMISSED_3                          float64
NON-SUITED_3                         float64
Length: 89, dtype: object

In [6]:
#Check unique values
df['Claim Validity'].unique()

array([nan, 'X'], dtype=object)

In [7]:
boolean_col_list=['COMPLAINT', 'ROUTINE', 'hispanic', 'asian', 'Valid', 'Informal Resolution',
                 'Bankrupt', 'Invalid', 'Fringe Benefits', 'Independent Agent', 'Subcontractor', 'False Claim',
                  'Other', 'Claim Validity', 'Employer left State', 'Employer Cannot be Located', 
                  'Complainant Dropped Claim', 'Paid Prior to Investigation', 'Business is Closed', 'Other_1',
                  'Employer Contested Valid Determination', '1st Response Investigation', 'Formal Investigation',
                  'Request Settlement Conference', 'Request Informal Fact Finding', 'Request Formal Fact Finding',
                  'Wage Order', 'Informal Conference', 'Civil Action for Wages/Penalties', 'Other_2',
                  'JUDGMENT', 'DISMISSED', 'NON-SUITED', 'JUDGMENT_1', 'DISMISSED_1', 'WAGES APPEALED',
                  'ASSESSED', 'CMP APPEALED', 'ACTION TAKEN', 'CONVICTED - DISPOSITION', 'DISMISSED - DISPOSITION',
                  'NOL Prossed', 'CONFINEMENT', 'SUSPENSION', 'BOTH - C&F', 'JUDGMENT_2', 'DISMISSED_2',
                  'NON-SUITED_2', 'JUDGMENT_3', 'DISMISSED_3', 'NON-SUITED_3']

In [8]:
#Function to convert boolean
def boolean_conversion(value):
    '''Convert X and True to 1, and the rest to 0'''
    if value == 'X':
        return 1
    elif value == 'TRUE':
        return 1
    else:
        return 0

In [9]:
#Apply the boolean_conversion function
for i in boolean_col_list:
    df[i]=df[i].apply(boolean_conversion)
df.head()

,CLAIM NO,COMPLAINT,ROUTINE,EMPLOYER NAME,EMPLOYER CITY,ST,ZIP,gender,hispanic,asian,...,NOL Prossed,CONFINEMENT,SUSPENSION,BOTH - C&F,JUDGMENT_2,DISMISSED_2,NON-SUITED_2,JUDGMENT_3,DISMISSED_3,NON-SUITED_3
0,LLVA56991,1,0,"GREATER SCAPE'S GROUND MANAGEMENT, LLC",HENRICO,VA,23075.0,male,0,0,...,0,0,0,0,0,0,0,0,0,0
1,LLVA57047,1,0,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,female,0,0,...,0,0,0,0,0,0,0,0,0,0
2,LLVA57784,1,0,"GIGI'S NEXT STEP CHILD CARE CENTER, LLC",SOUTH CHESTERFIELD,VA,23803.0,female,0,0,...,0,0,0,0,0,0,0,0,0,0
3,LLVA58364,1,0,MERRYMAN GROUNDS MAINT INC.,HAMPTON,VA,23661.0,male,0,0,...,0,0,0,0,0,0,0,0,0,0
4,LLVA58376,1,0,"CONTINENTAL HOME HEALTH CARE, LLC,",RICHMOND,VA,23294.0,female,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#Convert to datetime
date_list=['CASE OPEN/RE-OPEN', 'CLAIM RECEIVED', 'CASE CLOSE/RECLOSE DATE', 'CASE CLOSED for the REPRESENTATIVE', 
           'CIVCOURTDTE FOR WAGES/PENALTY', 'DATE FOR WAGES', 'ASSESSED DATE', 'DOCKETED/SENT FOR COLLECTION DATE', 
           'WAGES APPEAL CIRCUIT COURT DATE', 'CMP APPEAL CIRCUIT COURT DATE', 'COURT DATE']
df[date_list]=df[date_list].apply(pd.to_datetime)
df[date_list].head()

,CASE OPEN/RE-OPEN,CLAIM RECEIVED,CASE CLOSE/RECLOSE DATE,CASE CLOSED for the REPRESENTATIVE,CIVCOURTDTE FOR WAGES/PENALTY,DATE FOR WAGES,ASSESSED DATE,DOCKETED/SENT FOR COLLECTION DATE,WAGES APPEAL CIRCUIT COURT DATE,CMP APPEAL CIRCUIT COURT DATE,COURT DATE
0,2014-08-22,2014-08-19,2018-03-21,2014-10-20,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2014-09-08,2014-09-04,2015-01-22,2014-10-17,NaT,2015-01-28,2015-01-28,NaT,NaT,NaT,NaT
2,2015-03-06,2015-03-05,2017-03-17,2015-04-14,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2015-07-31,2015-07-25,2016-05-23,2015-10-08,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2015-08-04,2015-07-28,2016-01-26,2015-10-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [11]:
#Remove ',' and '$' and convert to float
amount_list = ['CLAIM AMT', 'VERIFIED CLAIM AMT', 'TOT AMT', 'WAGE AMT', 'INTEREST AMT', 'ATTY FEES',
              'AMT', 'ATTY FEES_1', 'TOTAL CMP AMT', 'FINES & COURT COSTS', 'TOTAL WAGES', 
              'TOTAL INTEREST AMT', 'TOT WAGES & INTEREST', 'GARNISHED AMT', 'JUDGMENT WAGE AMT',
              'JUDGEMENT PENALTY AMT']
for i in amount_list:
    df[i]=df[i].apply(lambda x: x.replace(',', ''))
    df[i]=df[i].apply(lambda x: x.replace('$', '')).astype(float)
df[amount_list].head()

,CLAIM AMT,VERIFIED CLAIM AMT,TOT AMT,WAGE AMT,INTEREST AMT,ATTY FEES,AMT,ATTY FEES_1,TOTAL CMP AMT,FINES & COURT COSTS,TOTAL WAGES,TOTAL INTEREST AMT,TOT WAGES & INTEREST,GARNISHED AMT,JUDGMENT WAGE AMT,JUDGEMENT PENALTY AMT
0,340.0,340.00,453.33,340.0,0.0,113.33,250.0,83.33,333.33,0.0,0.00,0.00,0.00,0.0,0.0,0.0
1,1275.5,1272.99,1644.67,1233.5,0.0,411.17,700.0,233.33,933.33,0.0,1272.99,0.00,1272.99,0.0,0.0,0.0
2,0.0,547.88,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,547.88,0.00,547.88,0.0,0.0,0.0
3,50.0,54.00,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,50.00,4.00,54.00,0.0,0.0,0.0
4,2229.5,1286.13,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,1235.00,51.13,1286.13,0.0,0.0,0.0